body {
  font-family: Roboto, sans-serif;
}

/*-- Header -- */
header {
  background-color: #1f2937;
  /* *Should use padding of parent container
  *to easily fixing spacing*/
  padding: 10px 160px 100px;
}

/* Navigation */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.nav-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

/* Nav list */
.nav-list {
  padding: unset;
  list-style: none;
  display: flex;
  gap: 16px;
}

.nav-item a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Header content */
.header-content {
  display: flex;
  align-items: center;
  column-gap: 60px;
}

.header-hero {
  flex: 1;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px 0;
}

.btn {
  color: #f9faf8;
  background-color: #3882f6;
  padding: 5px 24px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.header-media {
  flex: 1;
  color: #e5e7eb;
  text-align: center;
  max-height: 400px;
  line-height: 240px;
  background-color: gray;
}

/* -- Main -- */
.main {
  margin: 40px 0 80px;
}

.main-title {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  margin-bottom: 20px;
}

/* Main Images */
.main-images {
  margin: 40px 340px 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-item {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  align-items: center;
}

.main-images .image {
  width: 150px;
  height: 150px;
  border: 2.5px solid blue;
  border-radius: 8px;
}

.image-conent {
  max-width: 146px;
  text-align: center;
}

/* Main Quotes */
.main-quote {
  padding: 20px 80px;
  background-color: #e5e7eb;
  /* Should use height here? */
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-quote > .quote {
  /* Should use max-width here? */
  max-width: 1000px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.main-quote > .cite {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  bottom: 50px;
  right: 264px;
}

/* Main Register */
.main-register {
  margin: 30px auto;
  border-radius: 5px;
  padding: 30px;
  background-color: #3882f6;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  color: #e5e7eb;
}

.main-register .register-btn {
  border: 1px solid #e5e7eb;
  /* How to cancel align-items: stretch for 1 item*/
  margin: 20px 0;
  padding: 0 30px;
}

/* Footer */
footer {
  background-color: #1f2937;
  text-align: center;
  color: #e5e7eb;
  padding: 20px 0;
}
